$pink: rgb(249, 207, 214);
$blue: rgb(218, 238, 240);

$spacing: 20px;

.header {
  text-align: center;
  background-color: $pink;
  padding: $spacing;
}

.footer {
  text-align: center;
  background-color: $blue;
  padding: $spacing;
}

.counter{
  text-align: center;
  padding: $spacing;
  font-size: 1.5em;
  font-style: italic;

  input{
    margin-top: $spacing;
    width: 50%;
    font-size: 1em;
    text-align: center;
    padding: $spacing/3;
  }
}